<div id="<%= dom_id wish %>">
  <p>
    <strong>Wisher:</strong>
    <%= wish.wisher_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= wish.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= wish.url %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= wish.body %>
  </p>

</div>
